.mainhead {
	background-color: #3399ff;
	color: white;
	font-weight: normal;
	font-family: "Arial";
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	text-align: center;
	vertical-align: center;
}

#indextable{
 margin-left: auto;
 margin-right: auto;
}

th{
	text-align: center;
	padding: 15px;
	color:#3399ff;
}
#indextable,th,td{
	border: 1px solid #3399ff;
	border-collapse: collapse;
}

td{
	padding: 10px;
}

hr{
	color: #3399ff;
}

.linkbtn{
	background-color: #3399ff;
	padding: 2px 4px 2px 4px;
	border: 1px solid #3399ff;
	text-decoration: none;
	border-radius: 4px;
	color:white;

}

.linkbtn1{
	background-color: #3399ff;
	padding: 8px;
	border: 1px solid #3399ff;
	text-decoration: none;
	border-radius: 4px;
	color:white;

}